<article>
    <h3> {{ user.username }} profile</h3>
    <figure>
        <img src="{% if user_settings.cover_picture %} {{ user_settings.cover_picture.url }} {% endif %}" alt="cover_picture" height="160" width="440"> 
    </figure>
    <figure>
        <img src="{% if user_settings.profile_picture %}{{ user_settings.profile_picture.url }} {% endif %}" alt="profile_picture" height="150" width="150">
    </figure>
    <ul style="list-style-type:none">
        <li>Username: {{ user.username }}</li>
        <li>First name: {{user.first_name}} </li>
        <li>Last name: {{user.last_name}} </li>
        <li>Tuiter user since: {{ user.date_joined }}</li>
        <li>&nbsp;</li>
        <li><a href="{% url 'tuiter:userProfile' user.username %}">Tuits {{ total_tuits }}</a></li>
        <li><a href="{% url 'tuiter:userProfileFollowing' user.username %}">Following {{ total_following }}</a></li>
        <li><a href="{% url 'tuiter:userProfileFollowers' user.username %}">Followers {{ total_followers }}</a></li>
    </ul>
</article>