<article>
    <ul style="list-style-type:none">
        {% if tuit_object.is_retuit == True %}
        <li><a href="{% url 'tuiter:userProfile' tuit_object.user.username %}">{{ tuit_object.user.username }}</a> retuited: </li>
        <li><a href="{% url 'tuiter:userProfile' tuit_object.original_tuit.user.username %}">@{{ tuit_object.original_tuit.user.username }}</a> {{ tuit_object.tuit_date | date:"g:i  d M, Y" }} </li>
        {% else %}
        <li><a href="{% url 'tuiter:userProfile' tuit_object.user.username %}">@{{ tuit_object.user.username }}</a> {{ tuit_object.tuit_date | date:"g:i  d M, Y" }} </li>
        {% endif %}
        <li><a href="{% url 'tuiter:tuitDetail' tuit_object.id %}" style="text-decoration: none; color : #000000;">{{ tuit_object.message }}</a></li>
        {% if tuit_object.picture %}
        <li>
            <figure>
                <img src="{{ tuit_object.picture.url }}" alt="tuit_picture" height="150" width="150">
            </figure>
        </li>
        {% endif %}
        <table>
            <tr>
                <td>likes {{ tuit_object.total_likes }}</td>
                {% if tuit_object.is_retuit == True %}
                <td>retuits {{ tuit_object.original_tuit.total_retuits }}</td>
                {% else %}
                <td>retuits {{ tuit_object.total_retuits }}</td>
                {% endif %}
            </tr>
        </table>
        <li>
        {% if public_access == False %}
        <table>
            <tr>
                <td>
                    {% if tuit_liked == True %}
                    <form action="{% url 'tuiter:removeTuitLike' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="tuit_id" value="{{ tuit_object.id }}">
                        <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
                        <input type="hidden" name="use_parameters" value="{{ use_parameters }}">
                        <input type="hidden" name="parameter_name" value="{{ parameter_name }}">
                        <input type="hidden" name="parameter_value" value="{{ parameter_value }}">
                        <input id="{{ tuit_object.id }}" type="submit" value="Dislike">
                    </form>
                    {% else %}
                    <form action="{% url 'tuiter:likeTuit' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="tuit_id" value="{{ tuit_object.id }}">
                        <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
                        <input type="hidden" name="use_parameters" value="{{ use_parameters }}">
                        <input type="hidden" name="parameter_name" value="{{ parameter_name }}">
                        <input type="hidden" name="parameter_value" value="{{ parameter_value }}">
                        <input id="{{ tuit_object.id }}" type="submit" value="Like">
                    </form>
                    {% endif %}
                </td>
                <td>
                    <form action="{% url 'tuiter:retuit' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="tuit_id" value="{{ tuit_object.id }}">
                        <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
                        <input type="hidden" name="use_parameters" value="{{ use_parameters }}">
                        <input type="hidden" name="parameter_name" value="{{ parameter_name }}">
                        <input type="hidden" name="parameter_value" value="{{ parameter_value }}">
                        <input type="submit" value="Retuit">
                    </form>
                </td>
                {% if logged_user.username == tuit_object.user.username %}
                <td>
                    <form action="{% url 'tuiter:deleteTuit' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="tuit_id" value="{{ tuit_object.id }}">
                        <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
                        <input type="hidden" name="use_parameters" value="{{ use_parameters }}">
                        <input type="hidden" name="parameter_name" value="{{ parameter_name }}">
                        <input type="hidden" name="parameter_value" value="{{ parameter_value }}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
                {% endif %}
            </tr>
        </table>
        {% endif %}
        </li>
        <li>&nbsp;</li>
    </ul>
</li>
</article>