<!DOCTYPE html>
<html lang="es">
<head>
    {% load static from staticfiles %}
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    <!-- Stylesheets -->
    {% block css_plugins %}{% endblock %}
    <!-- Scripts -->
    {% block js_plugins %}{% endblock %}
</head>
<body>
    {% include "tuits/navigation_bar.html" %}
    {% block body %}{% endblock %}
    {% block body_scripts %}{% endblock %}
</body>
</html>