<article>
    <h3> {{ user.username }} profile</h3>
    <figure>
        <img src="{% if user_settings.cover_picture %} {{ user_settings.cover_picture.url }} {% endif %}" alt="cover_picture"> 
    </figure>
    <figure>
        <img src="{% if user_settings.profile_picture %}{{ user_settings.profile_picture.url }} {% endif %}" alt="profile_picture">
    </figure>
    <ul style="list-style-type:none">
        <li>Username: {{ user.username }}</li>
        <li>First name: {{user.first_name}} </li>
        <li>Last name: {{user.last_name}} </li>
        <li>Tuiter user since: {{ user.date_joined }}</li>
        <li>&nbsp;</li>
        <li><a href="#">Tuits {{ total_tuits }}</a></li>
        <li><a href="#">Following {{ total_following }}</a></li>
        <li><a href="#">Followers {{ total_followers }}</a></li>
    </ul>
</article>