<article>
    <ul style="list-style-type:none">
        {% for user in users %}
            <li>
                <ul style="list-style-type:none">
                    <li>{{ user.username }}</li>
                    <li>{{ user.first_name }} {{ user.last_name }}</li>
                    <li>tuiter user since {{ user.date_joined | date:"g:i  d M, Y" }} </li>
                    <li>&nbsp;</li>
                </ul>
            </li>
        {% empty %}
            <p>Not found</p>
        {% endfor %}
    </ul>
</article>